html, body, #root, #bingmarkers{
  height: 99%;
}
body {
  margin: 2px;
}
#printoutPanel, #searchBoxContainer {
  display: inline-block;
}

#markerlist {
  display: inline-block;
  height: 80%;
  width: 20%;
  left: 0;
  top: 0;
  vertical-align: top;
}
#mapcontainer {
  display: inline-block;
  width: 80%;
  height:80%;
}
#locationform {
  width:100%;
  height: 20%;
  box-shadow: 0 1px 0 rgba(12,13,14,0.1), 0 1px 6px rgba(59,64,69,0.1);
}
#deletebutton:hover {
  color: darkgray;
  cursor: pointer;
}